<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FastDoc Preview</string>
	<key>CFBundleExecutable</key>
	<string>QuickLookPreview</string>
	<key>CFBundleIdentifier</key>
	<string>ai.ww-w.fast-md-reader.quicklook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FastDoc Preview</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
				<string>public.markdown</string>
				<string>ai.ww-w.fast-md-reader.config-text</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>org.openxmlformats.wordprocessingml.document.macroenabled</string>
				<string>org.openxmlformats.wordprocessingml.template</string>
				<string>org.openxmlformats.wordprocessingml.template.macroenabled</string>
				<string>org.oasis-open.opendocument.text</string>
				<string>com.hancom.hwp</string>
				<string>com.haansoft.hancomofficeviewer.mac.hwp</string>
				<string>com.hancom.hwpx</string>
				<string>com.haansoft.hancomofficeviewer.mac.hwpx</string>
				<string>public.toml</string>
				<string>com.microsoft.ini</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>FastDocReader.QuickLookPreviewController</string>
	</dict>
</dict>
</plist>
